name: github-acitons
on:
  push:
    branches:
      - master
      - github-actions
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        go-version: [1.14.x, 1.15.x]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - name: Check go version
        run: go version

      - name: Vet
        run: go vet .

      - name: Build
        run: go build .
